#mybluediv{
width:100px;
height:100px;
background-color: red;
}
h1{
    background-color: aquamarine;
    font-style: italic;
    text-align: center;
    }
    
#mygreendiv{
    width:200px;
    height:200px;
    background-color: green;
}

body{
background-color:slategrey;
}
h2{
    background-color: aquamarine;
    font-style: italic
    }
    #myslatediv{
        background-color:slategray;
width:250px;
height:300px;
}
.button {